h1{
	color: white;
	font-size: 40px;
	background-color: #F08080;
        width:100%
}

body{
      background-color: #D2B48C;
}

table{
      padding-left: 5px;
      padding-right: 5px;
      width:70%;
      background-color:white
}

tbody{
      background-color: #F08080; 
}

th{
    border-bottom: 1px solid white;
    background-color: #FFFF99;
    color: #696969;  
    height: 30px;
    width:88px;
}

td{
    color: white;
    width: 88px;
    text-align: center;
    border:1px solid white; 
    
}
th, td{
    border-bottom: 1px solid #ddd;
    vertical-align: bottom;
}

tr:hover {
    background-color: #f5f5f5
}

label{
    color: #696969;
    padding:20px;
    align-content: center;
}

input[type=text]{
    text: left;
    padding-left: 15px;
    height: 20px;
} 
//Don't know where to use Odd&Even
//tr:nth-child(even){background-color: #F2F2F2}
//tr:nth-child(odd){background-color: #EDEDED;}